'menu': [
  {
    'label': 'View'
    'submenu': [
      'label': 'Components'
      'submenu': [
        { 'label': 'Market Depth', 'command': 'depth:create-depth-chart' }
      ]
    ]
  }
]

'context-menu':
  '.symbol-explorer .market': [
    {label: 'Open Depth Chart', command: 'depth:create-depth-chart'}
  ]
