@import "variables";
@import "ui-variables";

@depth-tools-height: 24px;

.depth
{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: @pane-content-background-color;

    .header
    {
        z-index: 10;
        display: flex;
        color: #FFF;
        font-size: 13px;
        font-family: Inconsolata;
        padding: 5px 10px;
        line-height: 20px;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        justify-content: center;

        .bids, .asks
        {
            flex: 1;
            color: fade(#FFF, 40);
            display: none;

            span
            {
                margin: 0 8px;
                color: #FFF;
            }
        }

        .market
        {
            width: 100px;
            text-align: center;
            font-size: 16px;

            .label
            {
                font-size: 10px;
                font-family: Roboto;
                line-height: 12px;
                color: #888;
                font-weight: 500;
                margin-top: 2px;
            }
        }

        .asks
        {
            text-align: right;
        }
    }

    .depth-chart
    {
        flex: 1;
        width: 100%;
        overflow: hidden;

        .areas
        {
            path
            {
                fill: fade(@primary-color, 15%);
                stroke: @primary-color;
                stroke-width: 1.5px;
            }

            path.asks
            {
                fill: fade(@background-color-error, 15%);
                stroke: @background-color-error;
            }
        }

        .crosshairs
        {
            display: none;

            rect.line, rect.label
            {
                fill: #AAA;
            }

            rect.text
            {
                fill: @pane-background-color;
            }

            text
            {
                font-size: 14px;
                font-weight: 700;
                font-family: Inconsolata;
                fill: @primary-color;
            }

            rect.value
            {
                fill: @primary-color;
            }

            .asks
            {
                text
                {
                    fill: @background-color-error;
                }

                rect.value
                {
                    fill: @background-color-error;
                }
            }
        }
    }

    .axis
    {
        pointer-events: none;

        line, path
        {
            stroke: lighten(@pane-background-color, 20%);
        }

        text
        {
            fill: lighten(@pane-background-color, 40%);
            font-weight: 700;
            font-size: 11px;
        }

        &.y
        {
            path.domain, g.tick:last-child
            {
                display: none;
            }
        }
    }

    &:hover
    {
        .header
        {
            .bids, .asks
            {
                display: block;
            }
        }

        .crosshairs
        {
            display: block;
        }
    }

    .depth-tools
    {
        height: @depth-tools-height + 1;
        align-items: center;

        .btn
        {
            border-right: 1px solid @pane-border-color;
            height: @depth-tools-height;
            line-height: @depth-tools-height;
            font-family: 'Inconsolata';
            font-size: 13px;
            font-weight: 700;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 180px;
            color: @text-color;
            -webkit-font-smoothing: antialiased;
        }
    }
}
